<!DOCTYPE html>
<html>
<head>
  <title><%= t('titles.application') %> - <%= content_for?(:subtitle) ? content_for(:subtitle) : 'Home' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to t('titles.application'), root_url, :class => 'brand' %>
        <ul class="nav">
          <% if user_authorized? %>
            <%= nav_link t('titles.nav.order_logs'), order_logs_url, :alts => [root_url] %>
          <% end %>
          <% if user_admin? %>
            <%= nav_link t('titles.nav.users'), users_url %>
          <% end %>
        </ul>
        <div class="pull-right">
          <ul class="nav">
            <% if user_signed_in? %>
              <li class="navbar-text"><%= t('session.welcome.html', :addressee => current_user.email) %></li>
              <li><%= link_to t('session.sign_out'), session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to t('session.sign_in'), new_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <%= bootstrap_flash %>
    <%= yield %>
  </div>
  <%= javascript_include_tag "bootstrap" %>
</body>
</html>
